.tag-input-wrapper {
  width: 100%;
}

.tag-input-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  border-radius: 8px;
  background-color: #fff;
  cursor: text;
  min-height: 42px;
  box-sizing: border-box;
  padding: 0px;
}

.tag {
  background-color: #e0e7ff;
  color: #1e3a8a;
  border: 1px solid #c7d2fe;
  padding: 4px 10px;
  border-radius: 15px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tag button {
  margin-left: 8px;
  border: none;
  color: #1e3a8a;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.85rem;
  background-color: transparent;
}

.tag-input-container input {
  flex: 1;
  min-width: 80px;
  background: transparent;
}

.btn-sup {
  margin-top: 5px;
  margin-bottom: 5px;
}